In [199]:
import pandas as pd
import numpy as np
import os
import re

In [200]:
res=pd.read_csv('res.csv')
df=pd.read_csv('df.csv')
df_A = df[(df['target']=='A')]

In [201]:
rules = res.ix[:,1]
new_rules = []
reExp1 = r'X(.*?)=(.*?)[,}]'
for tup in rules:
    invert = []
    invert = re.compile(reExp1).findall(tup)
    tmp = map(lambda x:int(x[0]) + int(x[1]),invert)
    tmp = list(tmp)
    tmp.sort()
    tmp = "".join([str(i) for i in tmp])
    new_rules.append(tmp)
dic = dict(zip((res.ix[:,0]-1),new_rules))
rev_dic = {}
for k,v in dic.items():
    rev_dic.setdefault(v, []).append(k)

In [208]:
m=[]
for k,v in rev_dic.items():
    l=[]
    for j in v:
        ex = rules[j]
        reExp2 = r'X(.*?)=(.*?)[,}]'
        invert = []
        invert = re.compile(reExp2).findall(ex)
        tmp = map(lambda x :(int(x[0]),int(x[1])),invert)
        tmp = list(tmp)
        n=[]
        for h in tmp:
            n.append(h)
            TL = 74823*[True]
            IN = []
            for i,j in h:
                a = df_A.ix[:,i] == j
                TL = TL & a
                A = sum(TL)
                interest = (10000*A - A*A)/(74823*25177) 
                IN.append(interest)

[(1, 3), (2, 1)]

TypeError: 'int' object is not iterable

In [206]:
n

[(2, 3), (3, 1), (10, 2)]

In [117]:
t

[(2, 3), (3, 1), (10, 2)]

In [209]:
#TL=[True for i in range(74823)]
TL=74823*[True]
IN =[]
for i,j in t:
    a = df_A.ix[:,i] == j
    TL = TL & a
    A = sum(TL)
    inter = (10000*A - A*A)/(74823*25177)
    IN.append(inter)

In [210]:
IN

[-0.041008481967636255, 0.011130548986898751, 0.0030265922552797546]

In [121]:
loc=(df.ix[:,7]==4)

In [124]:
sum(loc)

19823

In [60]:
loc2=(df.ix[loc,14]==1)

In [61]:
sum(loc2)

3937

In [109]:
df_A = df[(df['target']=='A')]

In [118]:
df_A

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,X11,X12,X13,X14,X15,target
0,1,2,4,1,3,5,4,4,2,3,5,5,5,3,1,2,A
1,2,3,2,4,3,2,5,3,3,3,4,2,3,1,5,1,A
2,3,5,1,5,5,2,4,4,3,1,1,3,2,3,3,4,A
3,4,1,2,1,1,3,5,2,2,1,3,5,5,4,2,1,A
5,6,4,2,2,2,3,1,1,1,4,4,3,2,4,5,4,A
6,7,2,1,2,5,2,1,5,2,4,4,4,4,1,5,4,A
7,8,5,3,2,1,5,1,5,3,4,4,5,1,5,3,2,A
9,10,4,4,2,1,4,5,4,1,5,4,1,1,1,3,2,A
10,11,1,3,2,3,4,4,4,5,4,1,4,2,3,3,1,A
11,12,2,3,2,1,3,2,2,3,3,2,4,3,3,1,1,A
12,13,3,5,1,2,4,3,3,4,3,4,1,2,3,2,5,A
14,15,1,2,5,3,3,2,3,3,4,4,1,3,5,5,2,A
16,17,4,5,3,2,2,2,4,4,4,4,5,4,5,5,2,A
18,19,4,4,3,1,3,4,4,4,1,4,3,4,3,5,4,A
20,21,1,5,4,4,5,5,1,3,1,5,1,4,5,2,2,A
21,22,4,1,2,3,1,5,1,4,4,5,1,2,1,5,3,A
23,24,3,2,3,1,1,4,1,2,3,2,4,4,1,1,3,A
25,26,5,5,1,2,3,4,3,2,4,3,3,1,1,3,4,A
26,27,1,3,5,5,3,5,5,1,5,3,5,3,3,5,4,A
27,28,1,5,2,4,3,2,2,2,4,1,2,2,1,2,2,A
29,30,5,1,1,3,5,3,2,1,4,1,4,2,1,4,2,A
30,31,2,1,2,4,2,2,5,5,2,2,4,5,2,5,4,A
32,33,5,1,1,2,4,2,5,4,5,1,5,1,2,2,4,A
34,35,5,3,2,1,3,1,1,4,4,4,1,3,4,5,2,A
35,36,1,3,2,1,1,5,3,5,3,1,1,3,3,2,3,A
36,37,1,1,1,1,3,1,5,1,4,3,3,4,3,4,1,A
37,38,4,2,3,5,2,2,5,1,5,4,4,4,2,5,1,A
39,40,4,3,3,5,5,4,1,3,3,3,1,1,3,4,3,A
40,41,2,3,3,2,1,2,4,3,2,4,4,3,3,3,2,A
41,42,4,1,5,3,2,1,5,5,5,3,3,4,2,1,3,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99960,99961,1,1,1,1,3,2,5,3,4,2,1,2,2,4,1,A
99961,99962,3,3,3,4,5,3,2,2,5,5,5,5,2,3,5,A
99962,99963,4,2,5,5,1,2,3,3,2,1,4,4,3,3,5,A
99963,99964,1,5,2,5,3,3,2,3,3,3,3,1,3,1,1,A
99967,99968,3,2,3,1,2,2,3,2,3,2,3,4,2,2,1,A
99968,99969,1,3,5,4,2,1,4,5,5,5,3,3,2,5,5,A
99969,99970,5,4,4,1,2,1,3,2,5,5,4,3,2,3,2,A
99970,99971,3,1,2,5,3,2,3,2,5,4,2,3,1,2,3,A
99971,99972,4,2,1,3,1,5,3,1,5,3,5,2,5,2,1,A
99973,99974,4,5,1,3,1,4,4,3,2,3,3,2,1,3,5,A
99974,99975,5,2,5,4,1,3,3,4,5,5,5,4,2,2,4,A
99975,99976,5,2,4,2,2,5,2,2,3,5,5,3,2,5,2,A
99976,99977,4,2,5,2,1,5,3,5,4,1,1,4,5,1,4,A
99977,99978,2,3,1,3,3,1,4,1,5,4,3,4,2,3,1,A
99978,99979,2,2,4,5,1,5,3,3,4,1,1,5,3,5,1,A
99979,99980,2,1,4,2,5,2,4,1,2,2,1,5,3,1,3,A
99981,99982,2,3,4,5,3,1,1,2,5,1,2,4,1,4,1,A
99982,99983,2,3,1,2,5,4,5,1,1,3,4,2,4,1,2,A
99983,99984,5,4,4,3,5,2,5,2,1,3,4,2,1,4,4,A
99986,99987,1,3,2,4,5,5,3,1,4,5,5,1,5,4,1,A
99987,99988,3,4,2,5,5,4,1,5,3,3,4,3,4,4,4,A
99989,99990,5,4,5,2,5,1,1,4,5,4,4,2,2,3,4,A
99990,99991,2,3,4,1,4,1,1,3,4,3,2,4,5,4,5,A
99991,99992,1,5,3,3,5,1,4,3,5,3,5,5,3,1,4,A
99992,99993,2,1,5,2,4,2,5,2,4,2,2,3,2,5,4,A
99993,99994,4,2,4,2,4,3,3,5,4,1,2,3,3,5,5,A
99995,99996,1,3,5,5,1,1,5,3,2,2,5,5,2,1,5,A
99997,99998,1,3,2,5,2,3,3,2,2,5,5,1,2,5,2,A
99998,99999,4,2,5,3,4,5,1,4,1,2,3,5,5,5,2,A
99999,100000,3,1,5,3,1,3,2,5,5,1,4,3,3,1,4,A